.claude-landing-container {
  position: relative;
  width: 100vw;
  height: 58.542vw; /* 1124px */
  overflow: hidden;
  background: white;
  margin: 0;
  padding: 0;
}

/* Sky gradient backgrounds */
.sunset-bg-2 {
  position: absolute;
  left: -0.104vw; /* -2px */
  top: -0.469vw; /* -9px */
  width: 102.031vw; /* 1959px */
  height: 25.469vw; /* 489px */
  background: linear-gradient(to top, #f6cd6f, #0c2a66);
  z-index: 1;
}

.sunset-bg-1 {
  position: absolute;
  left: -0.104vw;
  top: -0.469vw;
  width: 102.031vw;
  height: 25.469vw;
  background: linear-gradient(to top, #f28c62, #aa6f7d);
  z-index: 2;
}

/* Sunset effects */
.cool-sunset-effect-2 {
  position: absolute;
  left: 7.396vw; /* 142px */
  top: -14.063vw; /* -270px */
  width: 87.708vw; /* 1684px */
  height: 55.833vw; /* 1072px */
  z-index: 3;
}

.cool-sunset-effect-1 {
  position: absolute;
  left: 7.396vw;
  top: -14.063vw;
  width: 87.708vw;
  height: 55.833vw;
  z-index: 4;
}

.yellowish-sunset-left {
  position: absolute;
  left: -32.969vw; /* -633px */
  top: -9.948vw; /* -191px */
  width: 87.760vw; /* 1685px */
  height: 55.833vw; /* 1072px */
  z-index: 5;
}

.yellowish-sunset-right {
  position: absolute;
  left: 51.563vw; /* 990px */
  top: -6.927vw; /* -133px */
  width: 87.760vw;
  height: 55.833vw;
  z-index: 6;
}

/* Concrete ground */
.concrete-ground {
  position: absolute;
  left: -4.688vw; /* -90px */
  top: 40.990vw; /* 787px */
  width: 123.229vw; /* 2366px */
  height: 30.365vw; /* 583px */
  background-color: #425e70;
  z-index: 7;
}

/* Clouds */
.clouds {
  position: absolute;
  left: -2.222vw; /* -42.66px */
  top: -5.443vw; /* -104.5px */
  width: 102.982vw; /* 1977.26px */
  height: 21.126vw; /* 405.622px */
  z-index: 8;
}

/* Buildings */
.buildings-body {
  position: absolute;
  left: -0.088vw; /* -1.69px */
  top: 1.490vw; /* 28.61px */
  width: 95.174vw; /* 1827.37px */
  height: 28.153vw; /* 540.546px */
  z-index: 9;
}

.building-windows {
  position: absolute;
  left: -0.052vw; /* -1px */
  top: 2.331vw; /* 44.75px */
  width: 94.375vw; /* 1812px */
  height: 24.948vw; /* 479px */
  z-index: 10;
}

/* Cool sunset effect behind */
.cool-sunset-behind {
  position: absolute;
  left: 21.354vw; /* 410px */
  top: 1.250vw; /* 24px */
  width: 87.708vw; /* 1684px */
  height: 55.781vw; /* 1071px */
  z-index: 11;
}

/* Bushes behind train */
.bushes-behind-train {
  position: absolute;
  left: -0.052vw; /* -1px */
  top: 19.206vw; /* 368.75px */
  width: 47.063vw; /* 903.6px */
  height: 12.224vw; /* 234.703px */
  z-index: 12;
}

/* Power line */
.power-line {
  position: absolute;
  left: -0.052vw; /* -1px */
  top: 10.945vw; /* 210.14px */
  width: 42.188vw; /* 810px */
  height: 31.354vw; /* 602px */
  z-index: 13;
}

/* Train */
.train {
  position: absolute;
  left: -2.865vw; /* -55px */
  top: 23.119vw; /* 443.89px */
  width: 51.054vw; /* 980.244px */
  height: 25.885vw; /* 497.008px */
  z-index: 14;
}

.train-door-windows {
  position: absolute;
  left: 16.927vw; /* 325px */
  top: 30.694vw; /* 589.33px */
  width: 15.573vw; /* 299px */
  height: 4.531vw; /* 87px */
  z-index: 15;
}

/* Fence */
.fence {
  position: absolute;
  left: 0;
  top: 34.161vw; /* 655.89px */
  width: 41.875vw; /* 804px */
  height: 20.417vw; /* 392px */
  z-index: 16;
}

/* Ground vectors */
.vector-77 {
  position: absolute;
  left: -2.760vw; /* -53px */
  top: 46.771vw; /* 898px */
  width: 109.531vw; /* 2103px */
  height: 11.771vw; /* 226px */
  z-index: 17;
}

.vector-78 {
  position: absolute;
  left: 23.438vw; /* 450px */
  top: 50.573vw; /* 971px */
  width: 11.354vw; /* 218px */
  height: 2.031vw; /* 39px */
  z-index: 18;
}

.vector-80 {
  position: absolute;
  left: 41.146vw; /* 790px */
  top: 50.469vw; /* 969px */
  width: 14.896vw; /* 286px */
  height: 2.552vw; /* 49px */
  transform: scaleY(-1);
  z-index: 19;
}

.vector-79 {
  position: absolute;
  left: 91.302vw; /* 1753px */
  top: 51.719vw; /* 993px */
  width: 11.406vw; /* 219px */
  height: 1.979vw; /* 38px */
  z-index: 20;
}

/* Big bush left */
.big-bush-left {
  position: absolute;
  left: 25.859vw; /* 496.5px */
  top: 34.266vw; /* 657.91px */
  width: 15.548vw; /* 298.511px */
  height: 17.226vw; /* 330.746px */
  z-index: 21;
}

/* Boxes */
.boxes {
  position: absolute;
  left: 29.326vw; /* 563.06px */
  top: 45.190vw; /* 867.67px */
  width: 12.186vw; /* 233.968px */
  height: 7.563vw; /* 145.221px */
  z-index: 22;
}

/* Convenience store */
.convenience-store {
  position: absolute;
  left: 20.765vw; /* 398.68px */
  top: 14.411vw; /* 276.7px */
  width: 79.271vw; /* 1522px */
  height: 41.875vw; /* 804px */
  z-index: 23;
}

/* Text (HackDuke - code for good) */
.text-hackduke {
  position: absolute;
  left: 38.906vw; /* 746.6px */
  top: 16.510vw; /* 317px */
  width: 61.146vw; /* 1174px */
  height: 9.896vw; /* 190px */
  z-index: 24;
}

/* Open sign */
.open-sign {
  position: absolute;
  left: 83.111vw; /* 1595.74px */
  top: 37.732vw; /* 724.47px */
  width: 4.740vw; /* 91px */
  height: 2.865vw; /* 55px */
  z-index: 25;
}

/* Big bush right */
.big-bush-right {
  position: absolute;
  left: 93.511vw; /* 1795.42px */
  top: 35.841vw; /* 688.16px */
  width: 16.388vw; /* 314.646px */
  height: 17.963vw; /* 344.901px */
  z-index: 26;
}

/* Cat */
.cat {
  position: absolute;
  left: 76.875vw; /* 1476px */
  top: 47.500vw; /* 912px */
  width: 3.307vw; /* 63.5px */
  height: 5.786vw; /* 111.104px */
  z-index: 27;
}

/* Mobile breakpoint - scale up and center convenience store */
@media (max-width: 768px) {
  .claude-landing-container {
    height: 85vw; /* Taller on mobile to show more content */
  }

  /* Center the convenience store on mobile */
  .convenience-store {
    left: 2vw;
    width: 80vw;
    height: 42vw;
  }

  /* Adjust text to stay centered with store */
  .text-hackduke {
    left: 18vw;
    width: 65vw;
    height: 10vw;
  }

  /* Scale up important elements for mobile visibility */
  .train {
    left: -5vw;
    width: 60vw;
    height: 30vw;
  }

  .cat {
    left: 60vw;
    width: 5vw;
    height: 8vw;
  }

  .open-sign {
    left: 64vw;
    width: 7vw;
    height: 4vw;
  }
}

/* Smaller mobile devices */
@media (max-width: 480px) {
  .claude-landing-container {
    height: 100vw;
  }

  .convenience-store {
    left: 5vw;
    width: 90vw;
    height: 47vw;
  }

  .text-hackduke {
    left: 20vw;
    width: 70vw;
    height: 12vw;
  }
}