.down1 {
  background-image: url('/images/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 165vw;
  display: block;
  position: relative;
  padding-bottom: 2rem;
  overflow: hidden;
}

.down1-dateAbout {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 41.2vw;
  width: 81.2vw;
}
.down1-date{
  position: absolute;
  z-index: 10;
  right: 19vw;
  top: 40vw;
  width: 23vw;
}

.down1-ceiling {
  position: absolute;
  display: block;
  top: -1.2vw;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 3;
}

.down1-big_sign {
  position: relative;
  top: 15.1vw;
  margin-left: auto;
  margin-right: auto;
  width: 58.5vw;
  height: auto;
  z-index: 2;
}

.down1-left_sign {
  position: absolute;
  top: 0;
  left: 0;
  width: 20.5vw;
  z-index: 2;
}

.down1-right_protrusion {
  position: absolute;
  top: 0;
  right: 0;
  width: 22vw;
  z-index: 1;
}

.down1-vending {
  top: 32vw;
  position: absolute;
  width: 54vw;
  height: auto;
  left: 50%;
  transform: translate(-50%, 0);
}

.down1-vending-image {
  width: 100%;
  height: 100%;
  z-index: 3;
}

.down1-bottom_slot {
  position: absolute;
  bottom: 5.8vw;
  left: 50%;
  transform: translateX(-50%);
  width: 45vw;
  z-index: 3;
}

.lowest_layer {
  position: relative;
  width: 100%;
  z-index: 1;
}

.start-position {
  position: absolute;
  left: 6vw;
  top: 2vw;
  z-index: 2;
  width: 9vw;
  transition: none;
}

.start-position.falling {
  animation: fallAndRotate 1.25s ease-in forwards;
}

.end-position {
  position: absolute;
  z-index: 2;
  left: 2vw;
  top: 18vw;
  width: 11vw;
}

.top_layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  z-index: 3;
}

.down1-codeforgood_sign {
  position: absolute;
  top: -4.5vw;
  left: 50%;
  width: 39vw;
  transform-origin: top center;
  animation: swing 3s ease-in-out infinite;
}

@keyframes swing {
  0%, 100% {
    transform: translateX(-50%) rotate(-2deg);
  }
  50% {
    transform: translateX(-50%) rotate(2deg);
  }
}

@keyframes fallAndRotate {
  0% {
    top: 2vw;
    transform: rotate(0deg);
  }
  100% {
    top: 16vw;
    left: 3.5vw;
    transform: rotate(-40deg);
  }
}

.down1-left_side {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40vw;
}

.down1-left_shelf {
  position: absolute;
  top: 16.7vw;
  left: 0;
  width: 27.2vw;
  z-index: 4;
}

.down1-lower_left {
  position: absolute;
  bottom: -1.7vw;
  width: 37.4vw;
  left: -5.8vw;
  z-index: 4;
}

.down1-lucky_cat {
  position: absolute;
  top: 6.2vw;
  left: 0;
  width: 12vw;
  z-index: 3;
}

.down1-right_side {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40vw;
}

.down1-right_shelf {
  position: absolute;
  top: 17.2vw;
  right: 0;
  width: 24.5vw;
  z-index: 4;
}

.down1-clay_barrels {
  position: absolute;
  top: 17vw;
  right: 8vw;
  width: 14vw;
  z-index: 3;
}

.down1-right_shelf_underneath {
  position: absolute;
  bottom: -5.4vw;
  right: 0;
  width: 25.13vw;
  z-index: 6;
}

.down1-lower_right {
  position: absolute;
  bottom: -13.8vw;
  left: -19.4vw;
  z-index: 7;
  width: 59vw;
  overflow: hidden;
}

.tracks {
  position: absolute;
  z-index: 6;
  bottom: 14vw;
  right: 23.5vw;
  width: 9vw;
}

.tracks_symbols {
  position: absolute;
  z-index: 6;
  bottom: 20.86vw;
  right: 31.5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tracks_sign {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  overflow: hidden;
}

.tracks_icon {
  width: 5.4vw;
  position: relative;
  z-index: 2;
}

.tracks_label {
  height: 5.35vw;
  z-index: 1;
  right: -1vw;
  position: relative;
  transform: translateX(100%);
  transition: transform 0.4s ease-in, opacity 0.4s ease-in;
  opacity: 0;
  pointer-events: none;
}

/* active state set upon mouse hover  */
.tracks_label.active {
  transform: translateX(0);
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  opacity: 1;
  pointer-events: auto;
}


/* .tracks_symbols > img {
  width: 5.4vw;
  height: auto;
  display: block;
} */