.down1 {
  background-image: url('/images/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 165vw;
  display: block;
  position: relative;
  padding-bottom: 2rem;
  overflow: hidden;
}

.down1-dateAbout {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 41.2vw;
  width: 81.2vw;
}

.down1-ceiling {
  position: absolute;
  display: block;
  top: -1.2vw;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 3;
}

.down1-big_sign {
  position: relative;
  top: 15.1vw;
  margin-left: auto;
  margin-right: auto;
  width: 58.5vw;
  height: auto;
  z-index: 2;
}

.down1-left_sign {
  position: absolute;
  top: 0;
  left: 0;
  width: 20.5vw;
  z-index: 2;
}

.down1-right_protrusion {
  position: absolute;
  top: 0;
  right: 0;
  width: 22vw;
  z-index: 1;
}

.down1-vending {
  top: 32vw;
  position: absolute;
  width: 54vw;
  height: auto;
  left: 50%;
  transform: translate(-50%, 0);
}

.down1-vending-image {
  width: 100%;
  height: 100%;
  z-index: 3;
}

.intro-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.down1-left_side {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.down1-left_shelf {
  position: absolute;
  top: 16.7vw;
  left: 0;
  width: 27.2vw;
  z-index: 4;
}

.down1-lower_left {
  position: absolute;
  bottom: -1.7vw;
  width: 37.4vw;
  left: -5.8vw;
  z-index: 4;
}

.down1-lucky_cat {
  position: absolute;
  top: 6.2vw;
  left: 0;
  width: 12vw;
  z-index: 3;
}

.down1-right_side {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.down1-right_shelf {
  position: absolute;
  top: 17.2vw;
  right: 0;
  width: 24.5vw;
  z-index: 4;
}

.down1-clay_barrels {
  position: absolute;
  top: 17vw;
  right: 8vw;
  width: 14vw;
  z-index: 3;
}

.down1-right_shelf_underneath {
  position: absolute;
  bottom: -5.4vw;
  right: 0;
  width: 25.13vw;
  z-index: 6;
}

.down1-lower_right {
  position: absolute;
  bottom: -13.8vw;
  left: -19.4vw;
  z-index: 7;
  width: 59vw;
  overflow: hidden;
}